%table
  %thead
    %tr
      %th ID
      %th Name
      %th Email
      %th Admin Status
      %th Edit
      %th Delete
  %tbody
    - @users.each do |user|
      %tr
        %td= user.id
        %td #{user.username}
        %td #{user.email}
        %td= user.admin
        %td
          = link_to edit_user_path(user) do
            %i.general.foundicon-edit
        %td
          - unless user == current_user
            = link_to user_path(user), method: :delete, confirm: 'Are you sure you want to delete this user?' do
              %i.general.foundicon-trash