<div id="landing">


<!-- row 1-->
<div class="row"> 
     <div class="large-12 columns">
     <h5>Looking for a used couch? You've come to the right place.</h5>
    </div>
</div>

<br/>

<div class="row"> 
    
    <div class="small-8 columns">   
        <div class="panel branding">
          <header>
          welcome to <h1>Stoopendous!</h1>
          stoop sales, yard sales, and more

         </header>

        </div>    
    </div>

    <div class="small-4 columns featured"> 

         <% neighborhood = Neighborhood.all.sample %>
          
          <h4>FEATURED NEIGHBORHOOD</h4>
          <div>  
          <%= link_to image_tag(neighborhood.img_url), neighborhood_path(neighborhood)%>
          
          <%= link_to neighborhood.name, neighborhood_path(neighborhood), :class => 'neighborhood-name' %>
           </div>    

    </div>

</div>  

 
<br/>
<!-- row 2 -->
<div class="row">

    <div class="large-4 columns">

    <div class="panel search">
      <%= form_tag search_items_path, :class => 'search', method: :get do %>
       <h4>Forget your kid's birthday, again?!?You're the worst parent in the world. Find your kid something here</h4>

      <%= text_field_tag :query %>
      <%= submit_tag 'search', :class => 'button' %>
      <%end%>
    </div>


    </div>

    <div class="large-4 columns">
    

       <img class="rotated" src="http://img1.etsystatic.com/000/0/5770731/il_fullxfull.297232489.jpg"/>
        <!-- <img src="http://farm3.staticflickr.com/2618/3831546028_f6910d8cfc.jpg"> -->

    </div>



    <div class="large-4 columns login">
    <h4>SIGN IN</h4>
    <h6 class="show-for-small">Sign In<hr/></h6>
    <div class="panel login">
      <!--  <h6 class="hide-for-small">Come on. You don't really need that porcelain cat, do you?</h6> -->
     
        <%= render partial: '/sessions/partials/form' %>
             
    </div>
    </div>


</div>
<!--row 3-->
<div class="row">
  
  <div class="large-6 small-6 columns">
    <div class="panel neighborhood-list">
    <h6>Neighborhoods</h6>
    <% @neighborhoods = Neighborhood.all %>
    <% @neighborhoods.each do |neighborhood| %>
    <%= link_to neighborhood.name, neighborhood_path(neighborhood)%>
    <% end %>
    </div>

  </div>

  <div class="large-6 small-6 columns">
    <div class="panel bio">
    <h6>About Stoopendous</h6>
    <h6 class="subheader">Brought to you by Tanay, Jamie, &amp; David. And smoothie lovers everywhere.</h6>

    <img src="http://www.whartonsupplychain.org/wp-content/uploads/2013/05/tanay.jpg">

    <img src="http://s3.amazonaws.com/foodspotting-ec2/people/313837/large.?1323227809">  

    <img src="https://s3.amazonaws.com/uploads.hipchat.com/39979/332759/y6qw6hdfjiimij9/photo%20%282%29.jpg">
    
    <img src="http://cache.showmethecurry.com/vidimages/FruitSmoothie.jpg"/>


    </div>
  </div>
</div> 

</div>

</div>



</div>

<script>
document.write('<script src=js/vendor/' +
('__proto__' in {} ? 'zepto' : 'jquery') +
'.js><\/script>')
</script>
<script src="js/foundation.min.js"></script>
<script>
$(document).foundation();
</script>
<script type="text/javascript">
$(window).load(function() {
$('#featured').orbit({ fluid: '2x1' });
});
</script>
<!-- End Footer -->



