<div id="landing" class="pages">



<div class="row">
<div class="large-12 columns">


<!-- row 1-->
<div class="row"> 
     <div class="large-12 columns">
   <h5> Looking for a used mattress? You've come to the right place.</h5>
    </div>
</div>

<div class="row"> 

    <div class="small-8 columns">
     
      <div class="panel branding">
      welcome to<h1> Stoopendus</h1>
      <h5 class="subheader">stoop sales, yard sales, garage sales, corner sales, sidewalk sales, oh my</h5>
      </div>
    
    </div>

      <div class="small-4 columns">   
          <div class="panel featured">  

          <h6>Featured Neighborhood</h6>
          <% neighborhood = Neighborhood.all.sample %>
          <%= link_to neighborhood.name, neighborhood_path(neighborhood)%>
         </div>    

      </div>

</div>  


 

<!-- row 2 -->
<div class="row">

    <div class="large-4 columns">

    <div class="panel">
      <%= form_tag search_items_path, :class => 'search', method: :get do %>
      <h4><%= label_tag 'Find cool shit!' %></h4>
      <%= text_field_tag :query %>
      <%= submit_tag 'search', :class => 'button' %>
      <%end%>
    </div>

     <img src="http://brooklyncream.files.wordpress.com/2011/06/wpid-2011-05-15_11-00-11_473-1.jpg?w=500">

    </div>

    <div class="large-4 columns">
      <img src="http://farm3.staticflickr.com/2618/3831546028_f6910d8cfc.jpg">
      <img src="http://2guystalkingmetsbaseball.com/wp-content/uploads/2013/04/old-shoes.jpg">
    </div>

    <div class="large-4 columns">

    <h3 class="show-for-small">Sign In<hr/></h3>

    <div class="panel">
       <h4 class="hide-for-small">Have some stuff to sell??</h4>
       <h5 class="hide-for-small">Yes, you do. Have a sale today!. </h5>

        <%= render partial: '/sessions/partials/form' %>
        
        

    </div>
   
    </div>


</div>

<div class="row">
  
  <div class="large-6 small-6 columns">
    <div class="panel">
    <h5>Neighborhoods</h5>
    <% @neighborhoods = Neighborhood.all %>
    <% @neighborhoods.each do |neighborhood| %>
    <%= link_to neighborhood.name, neighborhood_path(neighborhood)%>
    <% end %>
    </div>

  </div>

  <div class="large-6 small-6 columns">
    <div class="panel bio">
    <h5 class="subheader">Who is Stoopendous?</h5>
    <h6 class="subheader">Brought to you by Tanay, David, &amp; Jamie</h6>

    <img src="http://www.whartonsupplychain.org/wp-content/uploads/2013/05/tanay.jpg">
    <img src="http://s3.amazonaws.com/foodspotting-ec2/people/313837/large.?1323227809">  
    <img src="http://m3.licdn.com/mpr/pub/image-02QoHpj54tUxpRLEuNCurvxEEpLO4k9y0mnR0RLxEklZuUrX02QRpU85EZzBuky5I1Io/tanay-jalan.jpg">


    </div>
  </div>
</div> 

</div>


</div>

<!-- Footer -->

<!-- <footer class="row">
  <div class="large-12 columns">
    <div class="row">

      <div class="large-6 columns">
        <p>&copy; Copyright no one at all. Go to town.</p>
      </div>

      <div class="large-6 columns">
        <ul class="inline-list right">
          <li><a href="#">Link 1</a></li>
          <li><a href="#">Link 2</a></li>
          <li><a href="#">Link 3</a></li>
          <li><a href="#">Link 4</a></li>
        </ul>
      </div>

    </div>
  </div>
</footer> -->

<!-- End Footer -->

</div>
</div>

</div>

<script>
document.write('<script src=js/vendor/' +
('__proto__' in {} ? 'zepto' : 'jquery') +
'.js><\/script>')
</script>
<script src="js/foundation.min.js"></script>
<script>
$(document).foundation();
</script>
<script type="text/javascript">
$(window).load(function() {
$('#featured').orbit({ fluid: '2x1' });
});
</script>
<!-- End Footer -->



