
<h1>NEW USER </h1>

<%= form_for @user do |f| %> 
<div>
	<%= f.label 'Username: ' %> 
	<%= f.text_field :username %>
	<br> 
	<%= f.label 'Email address' %> 
	<%= f.email_field :email %>
	<%= f.label 'Password' %> 
	<%= f.password_field :password %>
	<br>
	<%= f.submit %>
</div> 
<% end %>



