
<h1> Items </h1>

<%= form_tag search_items_path, method: :get do %>

	<%= label_tag :query %> 
	<%= text_field_tag :query %> 
	<%= submit_tag 'search' %> 
	
<% end %>

<% if @tmp_arr == [] %>
<h1> The searched item is not being sold </h1>
<% end %>

 <% @items.each do |item| %>
<div>
		<p> Name: <%= link_to item.name, item_path(item) %> </p>
		<br>
		<p> Price: <%= item.price %> </p>
		<br>
		<p> Description: <%= item.description %></p>
		<br>

		<br>
		<br>

		<%= button_to 'EDIT', edit_item_path(item), method: 'get', :class => 'btn btn-success'%> 
		<%= button_to 'DELETE', item_path(item), method: 'delete', :class => 'btn btn-danger' %> 

</div> 
	<% end %>

