<section class="for-sale">


      <h2>For Sale!</h2>


      <% if @items.any? %>


      <div class="large-4 small-6 columns">    
    
            <div class="panel">
              <h5>Sale Title</h5>
              <%= @items.first.sale.title %>

              <h5>Date</h5>
              <%= @items.first.sale.date %>

              <h5> Address </h5>
              <%= @items.first.sale.address %>
                
              <h5> City </h5>
               <%= @items.first.sale.city %>
                 
              <h5>Neighborhood</h5>
             <%= @items.first.sale.user.neighborhood.name %>
            </div>
          
        

   

<script src="http://maps.google.com/maps/api/js?key=AIzaSyAWySaUYYlEwvq3KquSOJmFpPwrnLItW4Y&sensor=false" 
          type="text/javascript"></script>
  <div id="map" style="width: 500px; height: 400px;"></div>

  <script type="text/javascript">
    var locations = [];

    <% @locations.each do |location| %>
      locations.push(["<%= location[0] %>", "<%= location[1] %>",<%= location[2] %>, <%= location[3] %>, "<%= location[4] %>"]);
    <% end %>
   

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 18,
      center: new google.maps.LatLng(<%= @map_lat %>, <%= @map_lng %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][2], locations[i][3]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent( locations[i][0] +  " <br/> Address: " + locations[i][1] + " <br/> Date: " + locations[i][4]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
  </script>
   </section>  
<div>


      <div class="large-4 small-6 columns">    
    
            <div class="for-sale">
              <div class="panel">

<% @items.first.sale.items.each do |item| %>
              <h5>Item Name</h5>
             <%= item.name %>

              <h5>Price</h5>
             <%= number_to_currency(item.price) %>

              <h5> Description </h5>
              <%= item.description %>
                
              <h5> City </h5>
               <%= @items.first.sale.city %>
                 
              <h5>Neighborhood</h5>
             <%= @items.first.sale.user.neighborhood.name %>
            </div>
          </div>
   
<% end %>
</div>


<% else %>
No result!
<% end %>

