<h1> Item that you picked:  </h1>

<div>
	<p> Name: <%= @item.name %> </p>
	<% if @item.price == 0 %>
	<p> Price: Negotiable </p>
	<% else %>
	<p> Price: <%= number_to_currency(@item.price) %> </p>
	<% end %>
	<br>
	<p>  Description: <%= @item.description %></p>
	<br>
   <% if current_user && current_user.sales != [] && current_user.sales.include?(sale) %>
	<%= button_to 'EDIT', edit_item_path(@item), method: 'get', :class => 'btn btn-button'%> 
	<%= button_to 'DELETE', item_path(@item), method: 'delete', :class => 'btn button' %> 

</div> 



