<script src="http://maps.google.com/maps/api/js?key=AIzaSyAWySaUYYlEwvq3KquSOJmFpPwrnLItW4Y&sensor=false" type="text/javascript"></script>
 
<section class="page-intro">

    <header class="main"><h1>Brooklyn Stoop Sales! You probably haven't heard of them </h1><h6> Keep midsize items like kitchen appliances and electronics spaced out and orderly. Smaller trinkets should be in a tray or bowl. </h6>
      
      
      <figure> Put Your Stoop to Work: A booming secondhand market!  </figure>

    <p id ='tanay' >
A few days before the sale, post an ad on Stoopendous. “It’s the gold standard,” says Brenda Becker, a Flatbush blogger who’s perused Brooklyn stoop sales most weeks for twenty years. Saturdays get the most foot traffic because people are doing errands. 
</p>

    </header>

</section>


<div class="large-12 columns">

<div id="map" style="width: 500px; height: 400px;"></div>

<script type="text/javascript"> 
    var locations = [];

    <% @locations.each do |location| %>
      locations.push(["<%= location[0] %>", "<%= location[1] %>",<%= location[2] %>, <%= location[3] %>, "<%= location[4] %>", "<%= location[5] %>"]);
    <% end %>

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 11,
      center: new google.maps.LatLng(<%= @map_lat %>, <%= @map_lng %>),
      mapTypeId: google.maps.MapTypeId.ROADMAP
    });

    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][2], locations[i][3]),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent("<h5><a href = '" + locations[i][5] + "'>" + locations[i][0] + "</a></h5>"+  " <br/> Address: " + locations[i][1] + " <br/> Date: " + locations[i][4]);
          infowindow.open(map, marker);
        }
      })(marker, i));
    }
</script>
</div>
<div class="clear"></div>

<div id="root" class="sales">

  <ul class="small-block-grid-4">

    <% @sales.each do |sale| %>
    <% if sale.date.to_date >= Date.today %>

    <li class="block">

        <%= link_to sale.title, sale_path(sale), :class => 'sale-title' %>

        <ul class="meta">
          <li><%= sale.address %></li>
          <li><%= sale.city %><br/></li>
          <li><%= sale.date %><br/></li>
          <li><%= sale.time %><br/><li>
        </ul>

        <% if current_user && current_user.sales != [] && current_user.sales.include?(sale) %>
        <div class="edit-sale">
          <%= link_to 'Edit', edit_sale_path(sale), method: 'get', :class => 'btn button' %> 
          <%= link_to 'Delete', sale_path(sale), method: 'delete', :class => 'btn button' %>
        </div>
        <% end %>
        <% end %>
    </li>
    <% end %>
  </ul>
</div>


