<script src="http://maps.google.com/maps/api/js?key=AIzaSyAWySaUYYlEwvq3KquSOJmFpPwrnLItW4Y&sensor=false" type="text/javascript"></script>

<h5>Stoop Sales in <%= @sale.user.neighborhood.name %></h5>

<%= link_to @sale.title, sale_path(@sale), :class => 'sale-title'%>


<div id="map" style="width: 500px; height: 400px;"></div>


  <div class="large-12 columns">
    <div class="row">
      <!-- Side Bar -->

      <div class="large-4 small-12 columns">

			        <img src= "http://placehold.it/500x500&text=Logo">

			        <ul class="meta">
			        	<li><%= @sale.user.neighborhood.name %><br/><li>
			          <li><%= @sale.address %></li>
			          <li><%= @sale.city %><br/></li>
			          <li><%= @sale.date %><br/></li>
			          <li><%= @sale.time %><br/><li>
			        </ul>
			      
			  			<div class="edit-sale">
			          <%= link_to (image_tag('../assets/edit.png')), edit_sale_path(@sale), method: 'get', :class => 'btn button' %> 
			          <%= link_to (image_tag('../assets/delete.png')), sale_path(@sale), method: 'delete', :class => 'btn button' %>
			        </div>

      </div>

      <div>
        <% if current_user && current_user.sales != [] && current_user.sales.include?(@sale) %>
        <%= link_to (image_tag('/assets/edit.png')), edit_sale_path(@sale), method: 'get', :class => 'btn button'%> 
        <%= link_to (image_tag('/assets/edit.png')), sale_path(@sale), method: 'delete', :class => 'btn button' %> 
        <% end %>

      </div>


  </div>

  <div class="large-12 columns">
   
   <div class="row">

	<section class="for-sale">

			<h2>For Sale!</h2>
				<% @sale.items.each do |item| %>

				<div class="large-4 small-6 columns">
            <img src= <%=item.image %> >
           

            <div class="panel">
              <h5>Item Name</h5>
              <%= item.name %>

              <h5>Price:</h5>
              <% if item.price == 0 %>
              <p> Negotiable </p>
                  <% else %>
                  <p> Price: <%= number_to_currency(item.price) %> </p>
                    <% end %>
              <h5>Description</h5>
              <%= item.description %>
            </div>
          
          </div>

				
				<% end %>

		</section>	

</div>
</div>

</div>



      <script type="text/javascript">
      var locations = [];

      <% @locations.each do |location| %>
      locations.push(["<%= location[0] %>",<%= location[1] %>,<%= location[2] %>]);
      <% end %>

      var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 16,
        center: new google.maps.LatLng(<%= @map_lat %>, <%= @map_lng %>),
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      var infowindow = new google.maps.InfoWindow();

      var marker, i;

      for (i = 0; i < locations.length; i++) {  
        marker = new google.maps.Marker({
          position: new google.maps.LatLng(locations[i][1], locations[i][2]),
          map: map
        });

        google.maps.event.addListener(marker, 'click', (function(marker, i) {
          return function() {
            infowindow.setContent(locations[i][0]);
            infowindow.open(map, marker);
          }
        })(marker, i));
      }
      </script>
    
