

<h1> Stoop Sale:  </h1>

<div>
	
		<p> Name: <%= @sale.title %> </p>
		<br>
		<p> Address: <%= @sale.address %> </p>
		<br>
		<p> City: <%= @sale.city %></p>
		<br>
		<p> Date: <%= @sale.date %></p>
		<br>
		<p> Time: <%= @sale.time %></p>
		<br>
		<%= button_to 'EDIT', edit_sale_path(@sale), method: 'get', :class => 'btn btn-success'%> 
		<%= button_to 'DELETE', sale_path(@sale), method: 'delete', :class => 'btn btn-danger' %> 

</div> 

