<nav class="upper public">
<!-- public -->

			<ul class="button-group site-content">
				
				<li><%= link_to 'TDJ', root_path, :class => 'button' %> </li>
				<li><%= link_to 'Stoop Sales!',sales_path,:class => 'button' %> </li>
				<li><%= link_to 'Search by Hood!', neighborhoods_path, :class => 'button' %> </li>
				
			</ul>

			<ul class="button-group user-options">
				<li><%= link_to 'Log In', sessions_new_path, :class => 'button' %> </li>
				<li><%= link_to 'Sign Up!', new_user_path, :class => 'button' %> </li>
			</ul>

</nav>



<!-- if logged in-->
<nav class="upper private">

			<ul class="button-group site-content">
				<li><%= link_to 'TDJ', root_path, :class => 'button'  %> </li>
				<li><%= link_to 'Sales', sales_path, :class => 'button'  %> </li>
				<li><%= link_to 'Search by Hood', neighborhoods_path, :class => 'button'  %> </li>
			</ul>

			<ul class="button-group user-options">
				<!-- manage sales-->
				<li><%= link_to 'Sales', new_sale_path,:class => 'button', :'data-dropdown' => "drop1"  %>
						<ul id="drop1" class="f-dropdown" data-dropdown-content>
 								 <li><%= link_to 'Organize a Sale', new_sale_path,:class => 'button'  %> </li>
						</ul>
				</li>
			
				<li><%= link_to 'My Items', items_path, :class => 'button'  %> </li>
				<li><%= link_to 'New Item', new_item_path,:class => 'button'  %> </li>

				<!-- manage profile -->
				<li><%= link_to 'My Profile', '/', :class => 'button', :'data-dropdown' => "drop2" %>

						<ul id="drop2" class="f-dropdown" data-dropdown-content>
 								
								<li><%= link_to 'Edit', logout_path, :class => 'button'  %> </li>
								<li><%= link_to 'Logout', logout_path, :class => 'button'  %> </li>

						</ul>

				</li>
	
			</ul>

</nav>

