<!DOCTYPE html>
<html>
<head>
  <title>Stoopendous!</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>

<script src="http://maps.google.com/maps/api/js?key=AIzaSyAWySaUYYlEwvq3KquSOJmFpPwrnLItW4Y&sensor=false" type="text/javascript"></script>


</head>
<body>	

<header id="logo-container">
<h1>Stoopendus!</h1>
stoop sales, yard sales, garage sales, corner sales, sidewalk sales, oh my
</header>
  
<div id="wrapper">

<%= render partial: 'layouts/nav2' %>


<% if current_user %> 
	<%= current_user.username %>
	<%= link_to 'logout', logout_path, :class => 'login-status', method: :delete %>
<% end %>


<!-- 
<div class='row'> -->
     <!--  <div id='mainWrapper' class='small-16 small-centered columns'> -->
        <% flash.each do |key, value| %>
          <%= content_tag(:div, value, class: "alert alert-#{key}") %>
        <% end %>
        <%= yield %>
    <!--   </div> -->
<!-- </div>
 -->


</div>

</body>
</html>
