<!DOCTYPE html>
<html>
<head>
  <title>Stoopendous!</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>


<link href='http://fonts.googleapis.com/css?family=Pathway+Gothic+One' rel='stylesheet' type='text/css'>


</head>
<body>	
<div id="wrapper">

<% if current_user %> 
	<%= current_user.username %>
	<%= link_to 'logout', logout_path, :class => 'login-status', method: :delete %>
<% end %>

<%= render partial: 'layouts/nav2' %>

<%= yield %>

<footer>
</footer>

</div>

</body>


</html>
